In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [19]:
%matplotlib inline
warnings.filterwarnings('ignore')
sns.set_style("darkgrid")

In [20]:
import statsmodels.api as sm
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler

In [21]:
c_bks_2011 = pd.read_csv("2011-capitalbikeshare-tripdata.csv" , sep=",")
c_bks_2023_04 = pd.read_csv("2023_04_capitalbikeshare_tripdata.csv" , sep=",")
uci_hrs = pd.read_csv("uci_edu_hour.csv" , sep=",")
uci_

In [22]:
c_bks_2011.head(1)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,3548,2011-01-01 00:01:29,2011-01-01 01:00:37,31620,5th & F St NW,31620,5th & F St NW,W00247,Member

In [23]:
c_bks_2023_04.head(1)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7D89911108C4305F,classic_bike,2023-04-15 12:51:45,2023-04-15 12:57:14,16th & Harvard St NW,31135.0,Lamont & Mt Pleasant NW,31107.0,38.926102,-77.03665,38.9319,-77.0388,member

In [24]:
uci_hrs.head(1)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16