# Bikes_Project

In [28]:
import pandas as pd
import numpy as np

from numpy import mean
from numpy import std

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl

from sklearn.model_selection import train_test_split


from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score

from sklearn.preprocessing import LabelEncoder

%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

plt.rcParams['figure.dpi'] = 100   
plt.rcParams['savefig.dpi'] = 100

### Import the Data

In [29]:
uciedu_day_df = pd.read_csv("uci_edu_day.csv" , sep=",")

uciedu_hours_df = pd.read_csv("uci_edu_hour.csv" , sep=",")

In [30]:
capbike_04_23_df = pd.read_csv("2023_04_capitalbikeshare_tripdata.csv" , sep=",")

In [31]:
uciedu_day_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [55]:
uciedu_day_df.head(6)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
5,6,2011-01-06,1,0,1,0,4,1,1,0.204348,0.233209,0.518261,0.089565,88,1518,1606

In [33]:
uciedu_hours_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [34]:
uciedu_hours_df.head(3)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32

In [35]:
uciedu_hours_df.tail(3)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [36]:
capbike_04_23_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389243 entries, 0 to 389242
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             389243 non-null  object
 1   rideable_type       389243 non-null  object
 2   started_at          389243 non-null  object
 3   ended_at            389243 non-null  object
 4   start_station_name  360858 non-null  object
 5   start_station_id    360858 non-null  float64
 6   end_station_name    358630 non-null  object
 7   end_station_id      358630 non-null  float64
 8   start_lat           389243 non-null  float64
 9   start_lng           389243 non-null  float64
 10  end_lat             388555 non-null  float64
 11  end_lng             388555 non-null  float64
 12  member_casual       389243 non-null  object
dtypes: float64(6), object(7)
memory usage: 38.6+ MB

In [37]:
capbike_04_23_df.head(3)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7D89911108C4305F,classic_bike,2023-04-15 12:51:45,2023-04-15 12:57:14,16th & Harvard St NW,31135.0,Lamont & Mt Pleasant NW,31107.0,38.926102,-77.036650,38.931900,-77.038800,member
1,FF47021098DE06BD,electric_bike,2023-04-11 18:21:35,2023-04-11 18:37:47,Rosedale Rec Center,31658.0,6th St & Indiana Ave NW,31264.0,38.897897,-76.979721,38.894573,-77.019940,member
2,BB41905DB8DE1CC7,classic_bike,2023-04-16 18:09:23,2023-04-16 18:26:10,2nd St & Seaton Pl NE,31522.0,15th & W St NW,31125.0,38.914751,-77.003560,38.919018,-77.034449,member

In [38]:
capbike_2011_df = pd.read_csv("2011-capitalbikeshare-tripdata.csv" , sep=",")

In [39]:
capbike_2011_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1226767 entries, 0 to 1226766
Data columns (total 9 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Duration              1226767 non-null  int64
 1   Start date            1226767 non-null  object
 2   End date              1226767 non-null  object
 3   Start station number  1226767 non-null  int64
 4   Start station         1226767 non-null  object
 5   End station number    1226767 non-null  int64
 6   End station           1226767 non-null  object
 7   Bike number           1226767 non-null  object
 8   Member type           1226767 non-null  object
dtypes: int64(3), object(6)
memory usage: 84.2+ MB

In [40]:
capbike_2011_df.head(3)

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,3548,2011-01-01 00:01:29,2011-01-01 01:00:37,31620,5th & F St NW,31620,5th & F St NW,W00247,Member
1,346,2011-01-01 00:02:46,2011-01-01 00:08:32,31105,14th & Harvard St NW,31101,14th & V St NW,W00675,Casual
2,562,2011-01-01 00:06:13,2011-01-01 00:15:36,31400,Georgia & New Hampshire Ave NW,31104,Adams Mill & Columbia Rd NW,W00357,Member

### Create a copy of the dataframes

In [41]:
day_df = uciedu_day_df.copy()
hours_df = uciedu_hours_df.copy()
cbk_0423_df = capbike_04_23_df.copy()
cbk_2011_df = capbike_2011_df.copy()

### Print the number of duplicates in the datasets

In [42]:
print('Number of duplicates in day dataset: ', day_df.duplicated().sum())
print('Number of duplicates in hours dataset: ', hours_df.duplicated().sum())
print('Number of duplicates in cbike 04_2023 dataset: ', cbk_0423_df.duplicated().sum())
print('Number of duplicates in cbike 2011 dataset: ', cbk_2011_df.duplicated().sum())

Number of duplicates in day dataset:  0
Number of duplicates in hours dataset:  0
Number of duplicates in cbike 04_2023 dataset:  0
Number of duplicates in cbike 2011 dataset:  0

### Get number of missing values per column

In [43]:
day_df.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [44]:
hours_df.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [45]:
cbk_0423_df.isna().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    28385
start_station_id      28385
end_station_name      30613
end_station_id        30613
start_lat                 0
start_lng                 0
end_lat                 688
end_lng                 688
member_casual             0
dtype: int64

In [46]:
cbk_2011_df.isna().sum()

Duration                0
Start date              0
End date                0
Start station number    0
Start station           0
End station number      0
End station             0
Bike number             0
Member type             0
dtype: int64

### Obtain the number of null values per column

In [47]:
day_df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [48]:
hours_df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [49]:
cbk_0423_df.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    28385
start_station_id      28385
end_station_name      30613
end_station_id        30613
start_lat                 0
start_lng                 0
end_lat                 688
end_lng                 688
member_casual             0
dtype: int64

In [50]:
cbk_2011_df.isnull().sum()

Duration                0
Start date              0
End date                0
Start station number    0
Start station           0
End station number      0
End station             0
Bike number             0
Member type             0
dtype: int64

### Show the shape of the DataFrame

In [51]:
day_df.shape

(731, 16)

In [52]:
hours_df.shape

(17379, 17)

In [53]:
cbk_0423_df.shape

(389243, 13)

In [54]:
cbk_2011_df.shape

(1226767, 9)